/* Ryu Streetfighter */
 body {
   margin:0px;
   padding:0px;
   font-size:1em;
   background-color:#000;
 }
 .main {
    margin-top:20%;
	width:100%;
	background-color:#000;
 }
 .innerdiv {
   position:relative;
   width: 100%;
   height: 22em;
   border-top:solid red 5px;
   border-bottom:solid red 5px;
	background-color: #FFF;
 }
 .picdiv {
   width:100%;
   height:21em;
   margin:0px;
   padding:0px;
 }
 #img1 {
   float:left;
   width:28em;
   height:21em;

 }
 .hadouken {
    position:relative;
	float:left;	
	width:24em;
	margin-top:5em;
	margin-left:-5em
	border:solid 1px green;
	display:none;  
 }

.firstup {
    width:;
	height:;
	position:relative;
	margin-left: 35px;
	display:none;
}
.jqcredit {
    width:;
	height:;
	position:relative;
	margin-left: 35px;
	display:none;
}
.instruc {
    width:;
	height:;
	position:relative;
	margin-left:35px;
	display:none;
}

.ryu-still {
	
}
.ryu-ready {
	
}
.ryu-throwing {
	
}
